<ion-content>
  <ion-grid>
    <ion-col>
      <ion-toolbar color="primary"> <h1>Install PwaDemo</h1>
        <ion-button slot="end" (click)="modalCtrl.dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-col>
  </ion-grid>

  <div class="instruction-step">
    <h2>Step 1: Tap Share</h2>
    <p>At the top right of the address bar, tap Share.</p>
  </div>

  <div class="instruction-step">
    <h2>Step 2: Add to Home Screen</h2>
    <p>Find and tap Add to Home Screen.</p>
  </div>

  <div class="instruction-step">
    <h2>Step 3: Confirm or Edit</h2>
    <p>Confirm or edit the website details and tap Add.</p>
  </div>
</ion-content>
